bin/
obj/
*.user
*.suo
.vs/
.vscode/
*.db
*.db-shm
*.db-wal
node_modules/
dist/
.modules/
*.log
__pycache__/
*.pyc
.env
.DS_Store
01-basic-apphost/BasicAppHost.AppHost/obj/BasicAppHost.AppHost.csproj.nuget.dgspec.json
01-basic-apphost/BasicAppHost.AppHost/obj/BasicAppHost.AppHost.csproj.nuget.g.props
01-basic-apphost/BasicAppHost.AppHost/obj/project.assets.json
01-basic-apphost/BasicAppHost.AppHost/obj/project.nuget.cache
